html,
body {
    margin: 0;
    padding: 0;
    background: var(--bg-main);
    font-family: var(--font);
    color: var(--font-color);
    display: flex;
    justify-content: center;
    margin-top: 1.5em;
}

:root {
    --font: 'Karla', sans-serif;
    --font-color: #fff;
    --grad1: #feda75;
    --grad2: #fa7e1e;
    --grad3: #d62976;
    --grad4: #962fbf;
    --grad5: #4f5bd5;
    --viewed: gray;
    --bg-main: #000;
    --bg-live: red;
}

.stories-menu {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3em;
    text-align: center;

    position: relative;
}

.img-wrapper {
    border-radius: 50%;
    padding: .25em;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, var(--grad1), var(--grad2), var(--grad3), var(--grad4), var(--grad5));

}

img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    border: solid black 2px;

}

.live {
    background: var(--bg-live);
    border: solid black 2px;
    position: absolute;
    width: 20px;
    height: 20px;
    right: 0;
    top: 0;
    width: auto;
}