html, body {
    margin: 0;
    padding: 0;
}

.container {
   height: 50px;
   width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle-1 , .circle-2, .circle-3 {
    background: gray;
    width: 50px;
    height: 50px;
    flex: 3;
    gap: 20px;
}
.circle-1 {
    margin-right: 20px;

}

.circle-2 {
    margin-right: 20px;

}

.circle-3 {
    
}