body,
html {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-family: system-ui, sans-serif;
    align-items: center;
    height: 100vh;
}

:root {
    --jeopardy-blue: #060CE9;
    --font-color-main: #fff;
}

.card {
    background: var(--jeopardy-blue);
    color: var(--font-color-main);
    border-radius: .9em;
    text-align: center;
    padding: 2em;
    height: 200px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    transition: transform .6s;
    cursor: pointer;

    transform-style: preserve-3d;
}

.card-back {
    display: none;
}

.card:hover {
    transform: rotateY(180deg)
}

.card:hover>div:first-child {
    display: none;
}

.card:hover>div:last-child {
    display: block;
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    backface-visibility: hidden;
}