:root {
    --red: #ED2938;
    --white: #FFF;
    --blue: #002495;
    --flag-height: 150px;
    --background-color: black;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Flag-of-france {
    display: flex;
    height: 200px;
    width: 300px;

}

.first-stripe {
    background: #002495;
    flex: 1;
    margin: 0;
    padding: 0;
}

.second-stripe {
    background: #ED2938;
    flex: 1;
}

.third-stripe {
    background: #FFF;
    flex: 1;
}